- name: restart sshd
  service: name=sshd state=restarted
  become: yes

- name: restart iptable
  service: name=iptables state=restarted
  become: yes

- name: restart firewalld
  service: name=firewalld state=restarted
  become: yes

